@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Serif:ital@1&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto:wght@300&display=swap');

*{ /*universal selector*/
	list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html {
	 scroll-snap-type: y mandatory;
}
body{
    background: white;
}

.sidebar{
    background: white; /*colors picked from hex value generator*/
    /*defining sidebar dimensions*/
    position: fixed;
    top: 0;
  	left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    border-right: 2px solid #ff8000;
    /*to control speed at which bar shows up*/
    transition: all 0.9s ease;
}

.sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #ff8000;
    color: #e67300;
    font-size: 20px;
    position: relative;
}

.sidebar .icon{
    color: #ff8000;
    width: 30px;
    display: inline-block;
}


.sidebar ul li a:hover{ /*if hover over ul, li, or a tags specifically*/
    color: white;
    background: #ff8000;
    border-right: 2px solid #ff8000;
}

.sidebar ul li a:hover .icon{
    color: white;
}

.header { /*defining dimensions for page with the sidebar toggled on inititally*/
	position: absolute;
	top: 0;
    margin-left: 225px;
    font-size: 22px;
    /*adding transition to synch with sidebar*/
    transition: all 0.9s ease;
    width: calc(100% - 225px); /*to keep width fixed regardless of siderbar toggle*/
}

.navbar{
	/*defining dimensions for header bar*/
    background: white;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.bars a{
    color: #ffa64d;
}

.bars a:hover{ /*if hovering over the bar icon*/
    color: #e67300;
}




 /*#main{
	display:  flex;
	column and flex:1 to make every section fit into a column
	flex-direction: column;
	flex:  1;
	align-items: center;
	font-size: 25px;
	margin-top: 80px;
	margin-left: 225px;
    adding transition to synch with sidebar
    transition: all 0.5s ease;
    width: calc(100% - 225px); /*to keep width fixed regardless of siderbar toggle
}  */

.panel {
	display: flex;
	flex-direction: column;
	margin: 50px;
	margin-left: 225px;
	margin-top: 40px;
	width: calc(100% - 225px);
	justify-content: center;
	scroll-snap-align: center;
	transition: all 0.9s ease; 
    scroll-snap-stop: center;
}

.subpanel{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: right;
	text-align: right;
	margin-top: 20px;
}
#pan1 {
	position: relative;
}
.pan1-back {
	position: relative;
}

.pan1-front {
	position: absolute;
	z-index: 2;
	max-width: 400px;
	max-height: 400px;
	top: calc(40%);
	left: calc(23%);
	transition: transform 0.9s ease;
}
.img1{
	flex: 1;
	text-align: right;
	margin-left: 4.5%;
}
.img2{
	flex: 1;
	text-align: center;
}
.img3{
	flex: 1.5;
	text-align: left;
	margin-right: 2%;
}

.img1 img, .img2 img, .img3 img {
	height: 90%;
	width:85%;
}

.img4{
	flex: 1;
	text-align: right;
	margin-left: 5%;
}
.img5{
	flex: 1.25;
	text-align: center;
}
.img6{
	flex: 1;
	text-align: left;
	margin-right: 4%;
}

.img4 img, .img5 img, .img6 img {
	height: 90%;
}

#pan0{
	margin-top: -60px;
	padding-bottom: 60px;
}

/* #pan6{
	padding-bottom: 50px;
} */

.panel img{
	flex: 1;
	width: 70%;
	align-self: center;
}


body.active .sidebar{ /*if sidebar is active*/
    left: -225px;
}

body.active .header, body.active .main, body.active .panel{ /*if sidebar is not active*/
    margin-left: 0px;
    width: 100%;
}


